* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}


main{
    display: flex;
}


.video_box {
    margin: 80px auto;
    height: 500px;
    background-color: #FAF9F6;
    box-shadow: 0px 0px 10px -7px black;
    border-radius: 20px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    
}

.video_box h3{
    margin-top: 20px;
}


.video_box iframe{
    margin: 10px 10px 20px auto;
    height: 370px;
    width: 660px;
    border-radius: 20px;
}

.video_box .books_button{
    padding: 10px;
    background: #FF5733;
    color: #FAF9F6;
    border: none;
    border-radius: 10px; 
    
}
