* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}



.Roadmap_box > h3{


   margin: 40px auto;
   font-size: 40px;
    background-color: #FF5733;
    width: 500px;
    border-radius: 8px;
    padding: 8px;
    color: white;
    box-shadow: 0px 0px 20px -8px black;

}

.Roadmap_box img {

    margin-top: 40px;

}